body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    font-size: 1.1em;
    line-height: 1.5;
    background: #333;
    color: #fff;
}

.header {
    background-image: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    color: white;
    padding: 100px 20px 20px;
    text-align: center;
    min-height: 330px;
}

.read-more {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}

.text-columns {
    margin: 0 auto 1vh auto;
    width: 97%;
    background: white;
    color: black;
    padding: 1em;
}

.text-columns p {
    column-count: 2;
    column-gap: 20px;
    padding: 0rem 20em 0em;
}

.parent {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.wrapper {
    text-align: center;
    margin: 0 auto;
}

.block {
    background-color: #f4f4f4;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 65vh;
    width: 14.70vw;
    color: black;
}

.block img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.parent1 {
    text-align: center;
    margin: 1em 0em 0em;
    width: 89.5%;
    background: white;
    color: black;
    padding: 2em 5em 4em;
}

h3.name {
    text-align: center;
}

.parent3 {
    width: 100%;
    text-align: center;
}

.bottom-block {
    width: 49%;
    display: inline-block;
    color: black;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    vertical-align: top;
   
}


.block-1 {
    background-color: hwb(216 31% 0%);
}

.block-2 {
    background-color: #636161;
}

.footer {
    background: #222;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.footer-item1 {
    width: 48%;
    display: inline-block;
    text-align: center;
    padding: 0em 0em 0em;
   
}

.footer-item2 {
    width: 48%;
    display: inline-block;
    text-align: center;
    padding: 0em 0m em;
}

@media (max-width: 768px) {
    .block, .bottom-block {
        width: 100%;
        margin: 10px 0;
    }
    
    .footer-content {
        display: block;
        text-align: center;
    }

    .footer-item1, .footer-item2 {
        width: 100%;
        margin: 5px 0; 
       
    }
}
